
$primary-normal: #06121E;
$primary-dark: #040f1a;
$primary-light: #0c2135;


$secundary-normal: #090d11;
$secundary-dark: #06090c; 
$secundary-light: #1a1f25;

$white-normal: #FFF;
$white-dark: #fefbff;
$white-light: #fefbff;

$red-normal: #d94140;
$red-dark: #b24b2b;
$red-light: #d34040;

$grey-ativamente: #717378;
$greydarker-ativamente: #212427;
$yellow-ativamente: #E7C923;
$gold-ativamente: #E7B147;

$VERMELHOFODASE: #ff0000;
